/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
  color: #999;
  font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 742px;

  margin: 20px; /* NOTE: Temporary */
}

a:link, a:visited {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
  color: #656565;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

/* ------------------------------------------ */

/* =header
--------------------------------------------- */
header {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  font-size: 11px;
  padding: 24px 18px;
}

header h1 {
  border-bottom: 2px solid #e9e9e9;
  margin: 0 0 9px;
  padding: 2px 0 8px;
}

.unused header #picture + div {
  margin-left: 82px;
}

.unused header #picture {
  background-position: center 25%;
  background-repeat: no-repeat;
  float: left;
  margin-right: 18px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.unused header .tagline {
  float: left;
}

.unused #share-app {
  float: right;
  width: 318px;
}

.unused #share-app ul {
  float: right;
}

.unused #share-app p {
  float: left;
}

.unused #share-app li {
  float: left;
  list-style: none;
  margin-left: 8px;
}
/* ------------------------------------------ */

/* =buttons
--------------------------------------------- */
.unused .facebook-button:link, .facebook-button:visited {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -ms-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -o-linear-gradient(top, #fdfdfd, #eaebeb));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaebeb));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: linear-gradient(top, #fdfdfd, #eaebeb);
  border: 1px solid #a9a9a9;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  color: #4f4f4f;
  display: -moz-inline-box;
  display: inline-block;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  outline: none;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .33);
}

.unused .facebook-button span {
  background: url("../images/sprites.png") no-repeat;
  padding: 0 7px 0 21px;
}

.unused .facebook-button .speech-bubble {
  background-position: 6px 3px;
}

.unused .facebook-button .plus {
  background-position: 6px -17px;
}

.unused .button:link, .button:visited {
  background-color: #7a90c0;
  background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
  background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
  background-image: -o-linear-gradient(top, #97afe2, #6073a1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97afe2), to(#6073a1));
  background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
  background-image: linear-gradient(top, #97afe2, #6073a1);
  border: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  color: #1d222c;
  display: inline-block;
  font: bold 14px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  line-height: 32px;
  padding: 0 25px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
}
/* ------------------------------------------ */

#blank-header {
  padding-top: 0px;
  padding-bottom: 10px;
}

#issue-section, #value-section, #objective-section, #policy-section, #description-section {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  padding: 0px 10px 20px 14px;
  font-size: 90%;
  line-height: 140%;
}
#description-section {
  padding-top: 0px;
  padding-bottom: 0.5em;
}
#description-block {
  margin-left: 1em;
  margin-right: 1em;
  color: black;
  border: 2px solid #ccc;
  border-radius: 10px;
  min-height: 6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
#description-block .instructions {
  color: #aaa;
}
#description-block b {
  font-weight: bold;
}
#issue-section .icon {
  width: 35px;
  height: 35px;
  float: left;
  background-image: url(../images/issue-icon-lg.png);
}
#value-section .icon {
  width: 35px;
  height: 35px;
  float: left;
  background-image: url(../images/value-icon-lg.png);
}
#objective-section .icon {
  width: 35px;
  height: 35px;
  float: left;
  background-image: url(../images/objective-icon-lg.png);
}
#policy-section .icon {
  width: 35px;
  height: 35px;
  float: left;
  background-image: url(../images/policy-icon-lg.png);
}
#issue-section .title, #value-section .title, #objective-section .title, #policy-section .title {
  margin-left: 10px;
  padding-top: 10px;
  color: #6485a2; 
  font-size: 260%;
  float: left;
}
#value-section ol, #objective-section ol, #policy-section ol {
  margin-left: 16px;
}
#value-section li div, #objective-section li div, #policy-section li div {
  color: black;
  font-size: 12.6px;
}
#value-section p, #objective-section p, #policy-section p {
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
}
#value-section p.encourage, #objective-section p.encourage, #policy-section p.encourage {
  color: #999;
}

#how-it-works-section {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  padding: 0px 10px 20px 14px;
  color: black;
}

#sorting-section {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  padding: 0px 10px 20px 14px;
  color: black;
}

#adding-section {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  padding: 0px 10px 20px 14px;
  color: black;
}


#entities-summary-section {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  padding: 0px 10px 20px 14px;
  color: black;
}
#entities-summary-section .entity-list {
  float: left;
  width: 238px;
  text-align: center;
}
#entities-summary-section .description {
  text-align: left;
  font-size: 90%;
  line-height: 130%;
  color: #777;
  margin-bottom: 0.7em;
  margin-left: 5px;
}
.entity-list ol {
  display: block;
  margin: 0px 0 25px 0;
  text-align: left;
}
.entity-list li {
  display: block;
  width: 205px;
  height: 16px;
  padding: 1px 0 0 24px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 90%;
  line-height: 105%;
}
.entity-name {
  display: block;
  text-overflow: ellipsis;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
}
.entity-list li.entity-with-boxplot {
  margin-bottom: 20px;
}
.boxplot {
  float: left; 
  margin-top: 2px;
}
.values-list li {
  border: 1px solid #619ed3;
  background: #fff url(../images/value-icon-sm.png) no-repeat 0px 0px;
}
.objectives-list li {
  border: 1px solid #ed9646;
  background: #fff url(../images/objective-icon-sm.png) no-repeat 0px 0px;
}
.policies-list li {
  border: 1px solid #70c63c;
  background: #fff url(../images/policy-icon-sm.png) no-repeat 0px 0px;
}

#left-sorting-box, #right-sorting-box {
  width: 300px; 
  float: left; 
  padding: 10px;
}
.sorting-box-legend {
  padding-left: 8px; 
  color: gray;
}
.second-sorting-box {
  padding-top: 10px;
}
#passive-list {
  min-height: 133px; 
  border: thin solid gray; 
  padding: 10px; 
  border-radius: 10px;
}
#active-positive-list {
  border: thin solid gray; 
  min-height: 40px; 
  padding: 10px; 
  border-radius: 10px;
}
#active-negative-list {
  border: thin solid gray; 
  min-height: 40px; 
  padding: 10px; 
  border-radius: 10px;
}


#footer {
  border-bottom: 1px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  padding: 20px 10px 20px 14px;
  font-size: 90%;
  line-height: 140%;
}


/* =get started
--------------------------------------------- */
.unused #get-started {
  background: url("../images/get-started-bg.jpg");
  border: 1px solid #353d4f;
  height: 105px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .29);
  padding: 32px 0 0;
}

.unused #get-started p {
  color: #fff;
  font-family: "CorbelRegular";
  font-size: 24px;
  height: 23px;
  margin-bottom: 24px;
}

.unused #get-started p span {
  font-family: "HybreaRegular";
  font-size: 22px;
}
/* ------------------------------------------ */

/* =guides/samples spacing
--------------------------------------------- */
.unused #guides h1,
.unused #samples h1 {
  margin-bottom: 15px;
  text-align: center;
}

.unused #guides, .unused #samples {
  padding: 20px 10px 20px 14px;
}

.unused #guides ul li,
.unused #samples .list {
  float: left;
  margin-right: 7px;
  width: 172px;
}

.unused #guides ul li p,
.unused #samples ul {
  padding: 0 4px;
}
/* ------------------------------------------ */

/* =guides
--------------------------------------------- */
.unused #guides {
  border-bottom: 1px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}

.unused #guides ul li {
  font-size: 11px;
  list-style: none;
}

.unused #guides ul li p {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  line-height: 20px;
  text-align: justify;
}

.unused #guides ul li:first-child {
  margin-left: 0;
}

.unused #guides ul li a.icon {
  background: url("../images/sprites.png") no-repeat;
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  padding-top: 124px;
  text-align: center;
}

.unused #guides ul li a.websites {
  background-position: 35px -87px;
}

.unused #guides ul li a.mobile-apps {
  background-position: 35px -231px;
}

.unused #guides ul li a.apps-on-facebook {
  background-position: 35px -375px;
}

.unused #guides ul li a.heroku {
  background-position: 35px -519px;
}
/* ------------------------------------------ */

/* =samples
--------------------------------------------- */
.unused #samples {
  background-image: url("../images/samples-bg.png");
  border-bottom: 1px solid #dadada;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-top: 1px solid #fff;
}

.unused #samples h3 {
  background: url("../images/header-sketch.png") no-repeat;
  color: #646464;
  font-weight: bold;
  font-size: 11px;
  line-height: 29px;
  text-align: center;
}

.unused #samples ul {
  background: url("../images/picture-sketch.png") 4px 8px;
  background-repeat: repeat-y;
  height: 161px;
  overflow: hidden;
  padding-top: 8px;
}

.unused #samples li {
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #7c7c7c;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 32px;
  margin-bottom: 11px;
  overflow: hidden;
  position: relative;
}

.unused #samples li a:link,
.unused #samples li a:visited {
  color: #7c7c7c;
  display: block;
  line-height: 32px;
  padding-left: 36px;
}

.unused #samples .list img {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.unused #samples .inline ul {
  background-repeat: repeat;
}

.unused #samples .inline li {
  float: left;
  margin-left: 12px;
  overflow: hidden;
  padding: 0;
  width: 32px;
  background-position: center 25%;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

.unused #samples .inline li.first-column {
  margin-left: 0;
}

.unused #samples .inline li a:link,
.unused #samples .inline li a:visited {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
}


/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
